*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
nav{
  justify-content: flex-start;
  display: flex;
  position: static;
}
section{
    width: 100%;
    padding:0;
    justify-content: start;
    display: flex;
    background-color:darkslateblue;
    color: white;
    
}
h1{
    justify-content: center;
    font-size: 30px;
    color: white;
    display: flex;
    background-color: yellow;
    margin: 0;
    padding-top: 8px;

}
ul{
    display:flex;
    list-style: none;
    
}
li{
    font-size:15px;
    margin:13px;
}
.menu-box{
    background-color: blue;
    width: 160px;
    padding: 15px;
    background:darkslateblue;
    color: white;
    height: 350px;
    text-align:center;
    font-size: 17px;
    margin: 30px 26px ;
    padding-top: 30px;
    

}
h3{
   margin-bottom: 19px;
}
.right-text{
    text-align: right;
    background-color: rgb(23, 16, 65);
    margin-bottom: 12px;
}
.color{
    background-color: yellow;

}
p{
    margin-bottom: 12px;

}